name: Flutter CI/CD

on:
  pull_request:
    branches: [ "main" ]

  push:
    branches: [ "main" ]

  workflow_dispatch:
    inputs:
      build_mode:
        description: "Build mode (debug or release)"
        required: false
        default: "release"

jobs:
  test:
    name: Analyze & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Flutter SDK cache
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      # Pub cache
      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

  build_apk:
    name: Build APK
    needs: test
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Flutter + Gradle cache
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --${{ github.event.inputs.build_mode || 'release' }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ github.event.inputs.build_mode || 'release' }}
          path: build/app/outputs/flutter-apk/app-${{ github.event.inputs.build_mode || 'release' }}.apk
