jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_MODE: release   # default value, can be debug or release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --${{ env.BUILD_MODE }}

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ env.BUILD_MODE }}
          path: build/app/outputs/flutter-apk/app-${{ env.BUILD_MODE }}.apk
