name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Get your source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Install Flutter SDK
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      # 3. Download dependencies
      - name: Install dependencies
        run: flutter pub get

      # 4. Static analysis
      - name: Analyze code
        run: flutter analyze

      # 5. Run tests
      - name: Run tests
        run: flutter test
